<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">

  <title>Your Monster</title>
</head>
<body>
    <h1>See Your Custom Monsters</h1>
    The <%=customizedMonster.name%> is <%=customizedMonster.type%>.
      <nav>
        <a href="/custommonster">Home</a>
      </nav>
    

</body>
</html>
