<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">

  <title>Customize your monster</title>
</head>
<body>
    <%-include('.partials/header.ejs')%>

    <h1>Your Campaign Monsters</h1>

    <%-include('.partials/monstersortbar.ejs')%>

    <h4>Picture</h4>
    <h4>CR</h4>
    <h4>Name</h4>
    <h4>Type</h4>
    <h4>picture</h4>
    <h4>picture</h4>

</body>
</html>
