<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.cdnfonts.com/css/dragon-hunter" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.cdnfonts.com/css/tex-gyre-bonum" rel="stylesheet"> 
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <title>New Player</title>
</head>
<body>
  <%- include ('./partials/header.ejs') %>

  <nav class="navbar">
    <a href="/player"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href='/player/new'><i class="fa fa-plus"></i>  Add</a> 
  </nav>


  <div class="add-player">
    <h1 id="player-header">Add Player</h1>
  </div>


    <form action="/Player" method="POST">
         <div class="playersheet">
        
          <div class="player-top-row">
          <div class="add-name">
            <input type="text" name="name">
            CHARACTER NAME</div>

        <table class="player-basic-info">
          <tr>
          <th class="basic-info-table">CLASS</th>
        <th class="basic-info-table">LEVEL</th>
      <th class="basic-info-table">RACE</th>
    <th class="basic-info-table">ALIGNMENT</th>
  <th class="basic-info-table">EXPERIENCE POINTS</th>
  </tr>  
  <tr>
    <td class="basic-info-table"><input type="text" name="basicInfo.class" size="5"></td>
    <td class="basic-info-table"><input type="text" name="basicInfo.level" size="5"></td>
    <td class="basic-info-table"><input type="text" name="basicInfo.race" size="5"></td>
    <td class="basic-info-table"><input type="text" name="basicInfo.alignment" size="5"></td>
    <td class="basic-info-table"><input type="text" name="basicInfo.experiencePoints" size="5"></td>
  </tr>  
</table>


<div class="player-info">
  <table class="player-main-stats" >
<tr>
   <th class="basic-info-table">STR</th>
   <th class="basic-info-table">DEX</th>
   <th class="basic-info-table">CON</th>
   <th class="basic-info-table">INT</th>
   <th class="basic-info-table">WIS</th>
   <th class="basic-info-table">CHA</th>
  </tr>

  <tr>
  <td><input type="text" name="stats.STR" size="5"></td>
  <td><input type="text" name="stats.DEX" size="5"></td>
  <td><input type="text" name="stats.CON" size="5"></td>
  <td><input type="text" name="stats.INT" size="5"></td>
  <td><input type="text" name="stats.WIS" size="5"></td>
  <td><input type="text" name="stats.CHA" size="5"></td>
</tr>
  </table>
</div>
  
  <div class="player-skills-and-saving-throws">
  <table class="saving-throws">
    <tr>
      <th id="saving-throws-header">SAVING THROWS</th>
      <th id="saving-throws-header"> </th>
    </tr>
  <tr>
    <th>STR</th>
    <td><input type="text" name="savingThrows.strength" size=></td>
  </tr>
  <tr>
    <th>DEX</th>
    <td><input type="text" name="savingThrows.dexterity" size=></td>
  </tr>
  <tr>
    <th>CON</th>
    <td><input type="text" name="savingThrows.constitution" size=></td>
  </tr>
  <tr>
    <th>INT</th>
    <td><input type="text" name="savingThrows.intelligence" size=></td>
  </tr>
  <tr>
    <th>WIS</th>
    <td><input type="text" name="savingThrows.wisdom" size=></td>
 
  </tr>
  <tr>
    <th>CHA</th>
    <td><input type="text" name="savingThrows.charisma" size=></td>
  </tr>
</table>
<br>
<br>
<br>
  
  <table class="skills">
    <tr>
      <th id="skills-header">SKILLS</th>
      <th id="skills-header"> </th>
    </tr>
  <tr>
  <tr>
    <th>ACROBATICS</th>
    <td><input type="text" name="skills.acrobatics" size=></td>
  </tr>
  <tr>
    <th>ANIMAL HANDLING</th>
    <td><input type="text" name="skills.animalHandling" size=></td>
  </tr>
  <tr>
    <th>ARCANA</th>
    <td><input type="text" name="skills.arcana" size=></td>
  </tr>
  <tr>
    <th>ATHLETICS</th>
    <td><input type="text" name="skills.athletics" size=></td>
  </tr>
  <tr>
    <th>DECEPTION</th>
    <td><input type="text" name="skills.deception" size=></td>
  </tr>
  <tr>
    <th>HISTORY</th>
    <td><input type="text" name="basicInfo.history" size=></td>
  </tr>
  <tr>
    <th>INSIGHT</th>
    <td><input type="text" name="basicInfo.insight" size=></td>
  </tr>
  <tr>
    <th>INTIMIDATION</th>
    <td><input type="text" name="skills.intimidation" size=></td>
  </tr>
  <tr>
    <th>INVESTIGATION</th>
    <td><input type="text" name="skills.investigation" size=></td>
  </tr>
  <tr>
    <th>MEDICINE</th>
    <td><input type="text" name="skills.medicine" size=></td>
  </tr>
  <tr>
    <th>NATURE</th>
    <td><input type="text" name="skills.nature" size=></td>
  </tr>
  <tr>
    <th>PERCEPTION</th>
    <td><input type="text" name="skills.perception" size=></td>
  </tr>
  <tr>
    <th>PERFORMANCE</th>
    <td><input type="text" name="skills.performance" size=></td>
  </tr>
  <tr>
    <th>PERSUASION</th>
    <td><input type="text" name="skills.persuasion" size=></td>
  </tr>
  <tr>
    <th>RELIGION</th>
    <td><input type="text" name="skills.religion" size=></td>
  </tr>
  <tr>
    <th>SLEIGHT OF HAND</th>
    <td><input type="text" name="skills.sleightOfHand" size=></td>
  </tr>
  <tr>
    <th>STEALTH</th>
    <td><input type="text" name="skills.stealth" size=></td>
  </tr>
  <tr>
    <th>SURVIVAL</th>
    <td><input type="text" name="skills.survival" size=></td>
  </tr>
  <tr>
    <th>PASSIVE WISDOM/PERCEPTION </th>
    <td><input type="text" name="skills.passive" size=></td>
  </tr>
</table>
  </div>
  
  <div class="notes">
  <div class="personality">
  <h4>PERSONALITY TRAITS</h4>
  <p>TRAITS</p>
    <textarea class="player" type="text" name="personality.traits" rows="4" cols="50"></textarea>
  <p>IDEALS</p><br>
    <textarea class="player" type="text" name="personality.ideals" rows="4" cols="50"></textarea>
  <p>BONDS</p><br>
    <textarea class="player" type="text" name="personality.bonds" rows="4" cols="50"></textarea>
  <p>FLAWS</p><br>
    <textarea class="player" type="text" name="personality.flaws" rows="4" cols="50"></textarea>
    <p>NOTES</p><br>
    <textarea class="player" type="text" name="notes" rows="4" cols="50"></textarea>
  
  </div>
</div>
        </div>
        <input type="submit" value="Submit Player"><br>

        </form>
        </body>
        </html>
  

</div>
</form>
</body>
</html>