<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.cdnfonts.com/css/dragon-hunter" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.cdnfonts.com/css/tex-gyre-bonum" rel="stylesheet"> 
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  <title>New Player</title>
</head>
<body>
  <%- include ('./partials/header.ejs') %>

  <nav class="navbar">
    <a href="/player"><i class="fa fa-fw fa-home"></i> Home</a> 
    <a href='/player/new'><i class="fa fa-plus"></i>  Add</a> 
  </nav>


  <div class="add-player">
    <h1 id="player-header">Add Player</h1>
  </div>


    <form action="/Player" method="POST">
        <input type="submit" value="Submit Player"><br>

        <!DOCTYPE html>

        <html>
        <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.cdnfonts.com/css/dragon-hunter" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.cdnfonts.com/css/tex-gyre-bonum" rel="stylesheet">
                        
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <div class="header">
          <title>Player</title>
        </head>
        <body>
          <form action="/Player" method="POST">
         <div class="playersheet">
        
          <div class="player-top-row">
          <div class="name">
            <h3>DUNGEONS AND DRAGONS</h3>
            <input type="text" name="name">
            CHARACTER NAME
        </div>

        <div class="player-basic-info">
          <div class="player-sheet-row">
            <input type="text" name="basicInfo.class" size="5">
          <p>CLASS</p>
        </div>
        <div class="player-sheet-row">
          <input type="text" name="basicInfo.level" size="5">
        <p>LEVEL</p>
      </div>
      <div class="player-sheet-row">
        <input type="text" name="basicInfo.race" size="5">
      <p>RACE</p>
    </div>
    <div class="player-sheet-row">
      <input type="text" name="basicInfo.alignment" size="5">
    <p>ALIGNMENT</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="basicInfo.experiencePoints" size="5">
  <p>EXPERIENCE POINTS</p>
</div>      
</div>
</div>

<div class="player-info">
  <div class="player-main-stats" >
    <h4>MAIN STATS</h4>
  <div >
    <input type="text" name="stats.STR" size="5">
  <p>STR</p>
  </div>
  <div >
    <input type="text" name="stats.DEX" size="5"> 
  <p>DEX</p>
  </div>
  <div >
    <input type="text" name="stats.CON" size="5">
  <p>CON</p>
  </div>
  <div >
    <input type="text" name="stats.INT" size="5">
  <p>INT</p>
  </div>
  <div >
    <input type="text" name="stats.WIS" size="5">
  <p>WIS</p>
  </div>
  <div >
    <input type="text" name="stats.CHA" size="5">
  <p>CHA</p>
  </div>
  </div>
  
  <div class="player-skills-and-savingthrows">
  <div class="player-saving-throws">
    <h4 id="savingthrow">SAVING THROW</h4>
  <div class="player-sheet-row">
    <input type="text" name="savingThrows.strength" size="5">
  <p>STR</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="savingThrows.dexterity" size="5">
  <p>DEX</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="savingThrows.constitution" size="5">
  <p>CON</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="savingThrows.intelligence" size="5">
  <p>INT</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="savingThrows.wisdom" size="5">
  <p>WIS</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="savingThrows.charisma" size="5">
  <p>CHA</p>
  </div>
  </div>
  
  <div class="player-skills">
  <h4>SKILLS</h4>
  <div class="player-sheet-row">
    <input type="text" name="skills.acrobatics" size="5">
  <p>ACROBATICS</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.animalHandling" size="5">
  <p>ANIMAL HANDLING</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.arcana" size="5">
  <p>ARCANA</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.athletics" size="5">
  <p>ATHLETICS</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.deception" size="5">
  <p>DECEPTION</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="basicInfo.history" size="5">
  <p>HISTORY</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="basicInfo.insight" size="5">
  <p>INSIGHT</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.intimidation" size="5">
  <p>INTIMIDATION</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.investigation" size="5">
  <p>INVESTIGATION</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.medicine" size="5">
  <p>MEDICINE</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.nature" size="5">
  <p>NATURE</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.perception" size="5">
  <p>PERCEPTION</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.performance" size="5">
  <p>PERFORMANCE</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.persuasion" size="5">
  <p>PERSUASION</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.religion" size="5">
  <p>RELIGION</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.sleightOfHand" size="5">
  <p>SLEIGHT OF HAND</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.stealth" size="5">
  <p>STEALTH</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.survival" size="5">
  <p>SURVIVAL</p>
  </div>
  <div class="player-sheet-row">
    <input type="text" name="skills.passive" size="5">
  <p>PASSIVE WISDOM/PERCEPTION </p>
  </div>
  </div>
  </div>
  
  
  <div class="personality">
  <h4>PERSONALITY TRAITS</h4>
  <p>TRAITS</p>
    <textarea class="player" type="text" name="personality.traits" rows="4" cols="30"></textarea>
  <p>IDEALS</p><br>
    <textarea class="player" type="text" name="personality.ideals" rows="4" cols="30"></textarea>
  <p>BONDS</p><br>
    <textarea class="player" type="text" name="personality.bonds" rows="4" cols="30"></textarea>
  <p>FLAWS</p><br>
    <textarea class="player" type="text" name="personality.flaws" rows="4" cols="30"></textarea>
    <p>NOTES</p><br>
    <textarea class="player" type="text" name="notes" rows="4" cols="30"></textarea>
  
  </div>
  
  
  
        </div>
        </div>
        </form>
        </body>
        </html>
  

</div>
</form>
</body>
</html>