body {
    margin:0;
    display: flex;
    flex-direction: column;
}
.header {
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color .5s;
    margin: 0;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5952A3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #010002 ;
    display: block;
    transition: 0.3s;
    
  }
  
  .sidenav a:hover {
    color: black;
    background-color: rgba(254, 254, 254, .6);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 10%;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: #5E53A8 ;
  
  }
  
  main:after {
  background-color: white;
  }
  
  .menubutton {
    position: absolute;
    left: 20px;
    top: 30px;
  }
  
  .headertext {
  padding-left: 90px;
  color: white;
  font-family: 'DRAGON HUNTER', sans-serif;
      text-shadow: -2px 2px 0 #000,
      2px 2px 0 #000,
     2px -2px 0 #000,
    -2px -2px 0 #000;
      font-size: 40px;
      }

      
  #dragon {
      text-shadow: -1px 1px 0 #000,
      1px 1px 0 #000,
     1px -1px 0 #000,
    -1px -1px 0 #000;
  }

  .navbar {
    width: 100%;
    background-color: #5E53A8;
    overflow: auto;
    line-height: 3vh;
    display: flex;
    flex-wrap: wrap;
    font-family: 'TeXGyreBonum', sans-serif;

  }
  
  .navbar a {
    float: left;
    padding: 14px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  
  .navbar a:hover {
    background-color: rgba(254, 254, 254, .6);
  }
  
  #deletebutton{
padding-top: -15px;
border: none;
background: none;
color: white;
font-family: 'TeXGyreBonum', sans-serif;

  }

  .basically-body{
    display: flex;
    flex-direction: column;
    margin: 0;
    z-index: 0;
    box-shadow: 0 0 100px #dab171 inset;
    background: rgba(188, 152, 99, .4);
    height: 200%;
    font-family: 'TeXGyreBonum', sans-serif;
    
                                                
  }

  .characterprofile {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    flex-wrap: wrap;
    overflow: none;
}

.profile {
    margin-left: 3%;
    margin-top: 3%;
    padding-top: 3%;
    margin-bottom: 3%;
    flex-direction: column;
    background-color: #FEFEFE ;
    width: 200px;
    height: 200px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

.profile a{
    text-decoration:none;
    color: black;
}


.characterprofile li {
    list-style-type: none;
    flex-direction: column;
}

#homepageimage {
    width: 100px;
    height: 100px;
}

#editbutton {
    text-decoration:none;
    color: black;
}

#charactername {
    font-weight: bold;
    text-transform: uppercase; 
}

.charstats {
    /* flex-direction: column; */
    text-decoration:none;
    /* flex-wrap: wrap; */

}

.butons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.custommonsterheader {
position: relative;
width: 100%;
margin: 0;
color: white;
height: 40%;
overflow: none;
background-image: url("dragons.avif");
background-repeat: no-repeat;
background-size: 100%;
justify-content: center;
text-align: center;
flex-wrap: wrap;


}

.custommonsterheader:before{
content: "";
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,0.5);
flex-wrap: wrap;
}


  #monstertext {
    font-family: 'DRAGON HUNTER', sans-serif;
    position: relative;
    color: rgba(254, 254, 254, .95);  
    font-size: 90px;
    line-height: 0.9;
    text-align: center;
    padding-top: 5%;
  }

  .view-your-monsters{
    box-shadow: 0 0 60px #dab171 inset;
    background: rgba(188, 152, 99, .4);
    height: 200vh;
  }

.customNameAndPhoto {
    background: white;
    opacity: 75%;
    height: 70vh;
    padding: 20px;
    position: relative;
  }
  
.customNameAndPhoto::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 20px;
    width: 100%;
    left: 0;
    opacity: 75%;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/23618/rip.svg') bottom;
    background-size: 200%;
    
  }

  .stats {
    position: absolute;
    right: 80px;
    top: 580px;
    box-shadow: 0 0 60px rgba(166, 135, 86, .8) inset;
    background: rgba(223, 208, 183, 1);   
    font-family: 'TeXGyreBonum', sans-serif;                                       
    width: 30vw;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
  }

  #viewname{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: 'TeXGyreBonum', sans-serif;                                       

  }

  .main-stats{
    line-height: 2em;
    padding-bottom: 3%;
  }

  .line {
    content: "";
    height: 2px;
    background: black;
    text-align: center;
    padding-right: 5%;
  
  }

  .showtable{
    padding-bottom: 3%;
  }


  #statsnames {
    font-weight: bold;
  }

  #fightstats {
    text-align: center;
  }

  .monsterstats,  .strengths{
    line-height: 2.5em;
  }

  textarea {
    width: 100%;
    height: 150px;
    font-family: 'TeXGyreBonum', sans-serif;                                 
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(188, 152, 99, 1);
    border-radius: 4px;
    background-color:rgba(188, 152, 99, .4);
    font-size: 15px;
    resize: none;
  }

  .notes{
padding-top: 30vh;
width: 30vw;
padding-left: 5%;
  }
/* //////////////////////////// */

.playersheet{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  margin: 0;
  z-index: 0;
  box-shadow: 0 0 60px #dab171 inset;
  background: rgba(188, 152, 99, .4);
  height: 100%;
  font-family: 'TeXGyreBonum', sans-serif;    

}

.player-top-row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  padding-left: 20%;
  padding-top: 3%;
}
    .name{
      display: flex;
      flex-direction: column;
      /* padding-left: 20%; */
      font-family: 'DRAGON HUNTER', sans-serif;
      font-size: 100px;
      text-decoration: underline;
      line-height: 105px;
    }

    .player-basic-info{
      flex-direction: row;
      flex-wrap: wrap; 
      display: flex;
      padding-left: 17%;
      font-family: 'TeXGyreBonum', sans-serif;    
      border-collapse: separate;
  border-spacing: 5 15px;
                          

    }

    .basic-info-table{
      padding: 8px;
    }


  .player-main-stats{
  display: flex;
  text-align: center;
  flex-wrap: wrap; 
  border-collapse: collapse;
  }

  .skills-and-saving-throws{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
  }

  .saving-throws, .skills {
    font-family: 'TeXGyreBonum', sans-serif;    
    border-collapse: collapse;
    margin-left: 20%;
    text-align: center;
display: flex;
  }
  
  .saving-throws td, .saving-throws th, .skills td, .skills th {
    border: 1px ;
    padding: 8px;
  }
  
  .saving-throws tr:nth-child(even){background-color: rgba(206, 24, 35, .3);}
  .skills tr:nth-child(even){background-color: rgba(40, 0, 44, .3);}

  .saving-throws tr:nth-child(odd){background-color:rgba(254, 254, 254, .8);}
  .skills tr:nth-child(odd){background-color:rgba(254, 254, 254, .8);}

  #saving-throws-header{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#CE1823;
    color: white;
    width: 30%;
    text-align: center;
  }

  #skills-header{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgba(40, 0, 44, 1);
    color: white;
    width: 30%;
    text-align: center;
  }

  .player-saving-throws{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap; 
    
  }

  .player-skills{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    text-align: center;
    flex-wrap: wrap; 

  }



  .personality{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding-right: 15%;


    /* child of player info */
  }



  #player-row{
    flex-direction: row;
    /* this gets all the stats next to the correct name */
  }


  .add-player, .player-home {
    position: relative;
    width: 100%;
    margin: 0;
    color: white;
    height: 40%;
    overflow: none;
    background-image: url("playerphoto.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    
    
    }
    
    .add-player:before .player-home:before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    flex-wrap: wrap;
    }

    
    
      #player-header {
        font-family: 'DRAGON HUNTER', sans-serif;
        position: relative;
        color: rgba(254, 254, 254, .95);  
        font-size: 90px;
        line-height: 0.9;
        text-align: center;
        padding-top: 5%;
      }









/* ------------- */

  @media screen and (max-width: 750px) {
    .navbar a {
        float: none;
        display: block;
        width: 99%;
      }

    #monstertext {
        font-size: 40px;
        padding-top: 15%;
    }

    .showtable{
      font-size: 12px;
    }

    .name {
      padding-left: 0%;
    }

    .basic-info-table{
      display: flex;
    }
  

    .skills-and-saving-throws{
      flex-direction: column;
    }

   .saving-throws{
    width: 40%;
   }
    .skills{
      width: 20%;
    }

  }