<body>
<img>
<button>sign in</button>
<button>sign up</button>

<h1>Create and Access your world</h1>
<nav>
	<a href=“/custommonster/new”>Create a New Monster</a>
</nav>

<button>Your NPC's</button>
<button>Your Map</button>
<button>Your Story Notes</button>
<button>Generate Encounter</button>
<button>Generate Weather</button>


