<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
<link href="https://fonts.cdnfonts.com/css/dragon-hunter" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.cdnfonts.com/css/tex-gyre-bonum" rel="stylesheet">
                
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="header">
  <title>Your Monster</title>
</head>
<%- include ('./partials/header.ejs') %>
<body class="view-your-monsters">
 <div class="playersheet">

  <div class="player-top-row">
  <div class="name">
    <h3>DUNGEONS AND DRAGONS</h3>
    <p>CHARACTER NAME</p>
</div>

<div class="player-basic-info">
  <p>CLASS</p>
  <p>LEVEL</p>
  <p>RACE</p>
  <p>ALIGNMENT</p>
  <p>EXPERIENCE POINTS</p>
</div>
</div>

<div class="player-info">
<div class="player-main-stats">
<p>STRENGTH</p>
<p>DEXTERITY</p>
<p>CONSITITUTION</p>
<p>INTELLIGENCE</p>
<p>WISDOM</p>
<p>CHARISMA</p>
</div>

<div class="player-skills-and-savingthrows">
<div class="player-saving-throws">
<h4>SAVING THROWS</h4>
<p>STRENGTH</p>
<p>DEXTERITY</p>
<p>CONSITITUTION</p>
<p>INTELLIGENCE</p>
<p>WISDOM</p>
<p>CHARISMA</p>
</div>

<div class="player-skills">
<h4>SKILLS</h4>
<p>ACROBATICS</p>
<p>ANIMAL HANDLING</p>
<p>ARCANA</p>
<p>ATHLETICS</p>
<p>DECEPTION</p>
<p>HISTORY</p>
<p>INSIGHT</p>
<p>INTIMIDATION</p>
<p>INVESTIGATION</p>
<p>MEDICINE</p>
<p>NATURE</p>
<p>PERCEPTION</p>
<p>PERFORMANCE</p>
<p>PERSUASION</p>
<p>RELIGION</p>
<p>SLIGHT OF HAND</p>
<p>STEALTH</p>
<p>SURVIVAL</p>
<p>PASSIVE WISDOM/PERCEPTION </p>
</div>
</div>


<div class="personality">
<h4>PERSONALITY TRAITS</h4>
<p>IDEALS</p>
<p>BONDS</p>
<p>FLAWS</p>
</div>

<div class="notes">
  <h3>NOTES</h3>
</div>
</div>


</div> 
</body>
</html>
